In [ ]:
#1.write a code to reserve  a string
def reverse_string(s):
    reversed_string = ""
    for char in s:
        reversed_string = char + reversed_string
    return reversed_string

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_string)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [ ]:
#2.write a code to count the numbers of vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("Original string:", input_string)
print("Number of vowels:", vowel_count)

Original string: Hello, World!
Number of vowels: 3

In [ ]:
#3.write a code to Check if a Given String is a Palindrome
def is_palindrome(s):
    s = s.lower().replace(" ", "")  # Case insensitive and ignoring spaces
    return s == s[::-1]

# Example usage
input_string = "A man a plan a canal Panama"
print(is_palindrome(input_string))

True

In [ ]:
#4 writ a code Check if Two Given Strings are Anagrams
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Example usage
str1 = "listen"
str2 = "silent"
print(are_anagrams(str1, str2))

True

In [ ]:
#5. Find All Occurrences of a Given Substring Within Another String
def find_substring_occurrences(s, sub):
    occurrences = []
    start = 0
    while start < len(s):
        start = s.find(sub, start)
        if start == -1:
            break
        occurrences.append(start)
        start += len(sub)
    return occurrences

# Example usage
s = "This is a cat. This is only a cat."
sub = "cat"
print(find_substring_occurrences(s, sub))

[10, 30]

In [ ]:
#7.Perform Basic String Compression Using the Counts of Repeated Characters
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

# Example usage
input_string = "AASDSBRSJB"
print(compress_string(input_string))

A2S1D1S1B1R1S1J1B1

In [ ]:
#7. Determine if a String has All Unique Characters
def has_unique_characters(s):
    return len(s) == len(set(s))

# Example usage
input_string = "abcdefg"
print(has_unique_characters(input_string))

True

In [ ]:
#Convert a Given String to Uppercase or Lowercase
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

# Example usage
input_string = "Hello, World!"
print(convert_case(input_string, to_upper=True))
print(convert_case(input_string, to_upper=False))

HELLO, WORLD!
hello, world!

In [ ]:
#9. Count the Number of Words in a String
def count_words(s):
    return len(s.split())

# Example usage
input_string = "GOD IS GOOD"
print(count_words(input_string))

3

In [ ]:
#10. Concatenate Two Strings Without Using the Operator
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

# Example usage
str1 = "Hello, "
str2 = "World!"
print(concatenate_strings(str1, str2))

Hello, World!

In [ ]:
#11. Remove All Occurrences of a Specific Element From a List
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
lst = [1, 2, 3, 4, 3, 2, 1]
element_to_remove = 2
print(remove_element(lst, element_to_remove))

[1, 3, 4, 3, 1]

In [ ]:
#12. Find the Second Largest Number in a Given List of Integers
def second_largest(lst):
    unique_sorted = sorted(set(lst), reverse=True)
    return unique_sorted[1] if len(unique_sorted) > 1 else None

# Example usage
lst = [10, 20, 20, 4, 45, 99, 99]
print(second_largest(lst))

45

In [ ]:
#13. Count the Occurrences of Each Element in a List and Return a Dictionary
def count_occurrences(lst):
    occurrence_dict = {}
    for item in lst:
        occurrence_dict[item] = occurrence_dict.get(item, 0) + 1
    return occurrence_dict

# Example usage
lst = [1, 2, 3, 1, 2, 1, 4, 5]
print(count_occurrences(lst))

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

In [ ]:
#14. Reverse a List In-Place Without Using Built-In Reverse Functions
def reverse_list(lst):
    start, end = 0, len(lst) - 1
    while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1

# Example usage
lst = [1, 2, 3, 4, 5]
reverse_list(lst)
print(lst)

[5, 4, 3, 2, 1]

In [ ]:
#15. Find and Remove Duplicates From a List While Preserving the Original Order
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage
lst = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(lst))

[1, 2, 3, 4, 5]

In [ ]:
#16.Check if a Given List is Sorted (Either in Ascending or Descending Order)
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example usage
lst = [1, 2, 3, 4, 5]
print(is_sorted(lst))

True

In [ ]:
#17.Merge Two Sorted Lists Into a Single Sorted List
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example usage
lst1 = [1, 3, 5]
lst2 = [2, 4, 6]
print(merge_sorted_lists(lst1, lst2))

[1, 2, 3, 4, 5, 6]

In [ ]:
#18.Find the Intersection of Two Given Lists
def list_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Example usage
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(list_intersection(lst1, lst2))

[3, 4]

In [ ]:
#19.Find the Union of Two Lists Without Duplicates
def list_union(lst1, lst2):
    return list(set(lst1) | set(lst2))

# Example usage
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(list_union(lst1, lst2))

[1, 2, 3, 4, 5, 6]

In [ ]:
#20.Shuffle a Given List Randomly Without Using Any Built-In Shuffle Functions
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
lst = [1, 2, 3, 4, 5]
shuffle_list(lst)
print(lst)

[2, 3, 4, 1, 5]

In [ ]:
#21. Return a New Tuple Containing Elements Common to Both Input Tuples
def tuple_intersection(t1, t2):
    return tuple(set(t1) & set(t2))

# Example usage
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
print(tuple_intersection(t1, t2))

(3, 4)

In [ ]:
#23.Concatenate Two Tuples
def concatenate_tuples(t1, t2):
    return t1 + t2

# Example usage
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(concatenate_tuples(t1, t2))

(1, 2, 3, 4, 5, 6)

In [1]:
#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
# Define a function to demonstrate the code with examples
def demo_set_difference(set1, set2):
    # Calculate the difference between set1 and set2
    difference = set1 - set2
    return difference

# Example 1
set1_example1 = {'apple', 'banana', 'orange'}
set2_example1 = {'banana', 'grape', 'orange'}
print("Example 1:")
print("Set 1:", set1_example1)
print("Set 2:", set2_example1)
print("Elements in Set 1 but not in Set 2:", demo_set_difference(set1_example1, set2_example1))
print()

Example 1:
Set 1: {'orange', 'apple', 'banana'}
Set 2: {'orange', 'grape', 'banana'}
Elements in Set 1 but not in Set 2: {'apple'}

In [2]:
#25.Code to return a new tuple containing elements within a specified range of indices
def slice_tuple(input_tuple, start_idx, end_idx):
    return input_tuple[start_idx:end_idx]

# Example
input_tuple = (1, 2, 3, 4, 5)
start_idx = 1
end_idx = 4
print("Original tuple:", input_tuple)
print(f"Sliced tuple (indices {start_idx} to {end_idx}):", slice_tuple(input_tuple, start_idx, end_idx))

Original tuple: (1, 2, 3, 4, 5)
Sliced tuple (indices 1 to 4): (2, 3, 4)

In [3]:
#26.Code to print the union of two sets of characters
def union_of_sets(set1, set2):
    return set1 | set2

# Example
set1 = {'a', 'b', 'c'}
set2 = {'b', 'c', 'd'}
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of the two sets:", union_of_sets(set1, set2))

Set 1: {'b', 'a', 'c'}
Set 2: {'b', 'd', 'c'}
Union of the two sets: {'d', 'c', 'b', 'a'}

In [4]:
#27.Code to return the maximum and minimum values from a tuple using tuple unpacking
def find_min_max(input_tuple):
    return min(input_tuple), max(input_tuple)

# Example
input_tuple = (10, 3, 45, 2, 99)
min_val, max_val = find_min_max(input_tuple)
print("Original tuple:", input_tuple)
print(f"Minimum value: {min_val}, Maximum value: {max_val}")

Original tuple: (10, 3, 45, 2, 99)
Minimum value: 2, Maximum value: 99

In [5]:
#28.Code to print the union, intersection, and difference of two sets of integers
def set_operations(set1, set2):
    return {
        'union': set1 | set2,
        'intersection': set1 & set2,
        'difference': set1 - set2
    }

# Example
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
results = set_operations(set1, set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", results['union'])
print("Intersection:", results['intersection'])
print("Difference:", results['difference'])

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [6]:
#29.Code to return the count of occurrences of an element in a tuple
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

# Example
input_tuple = (1, 2, 2, 3, 2, 4)
element = 2
print("Original tuple:", input_tuple)
print(f"Count of element {element}:", count_occurrences(input_tuple, element))

Original tuple: (1, 2, 2, 3, 2, 4)
Count of element 2: 3

In [7]:
#30.Code to print the symmetric difference of two sets of strings
def symmetric_difference(set1, set2):
    return set1 ^ set2

# Example
set1 = {'a', 'b', 'c'}
set2 = {'b', 'c', 'd'}
print("Set 1:", set1)
print("Set 2:", set2)
print("Symmetric difference:", symmetric_difference(set1, set2))

Set 1: {'b', 'a', 'c'}
Set 2: {'b', 'd', 'c'}
Symmetric difference: {'d', 'a'}

In [8]:
#31.Code to return a dictionary with word frequencies from a list of words
def word_frequency(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

# Example
words_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
print("Word list:", words_list)
print("Word frequency dictionary:", word_frequency(words_list))

Word list: ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
Word frequency dictionary: {'apple': 2, 'banana': 3, 'orange': 1}

In [9]:
#32.Code to merge two dictionaries and sum values for common keys
def merge_dicts(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

# Example
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
print("Dictionary 1:", dict1)
print("Dictionary 2:", dict2)
print("Merged dictionary:", merge_dicts(dict1, dict2))

Dictionary 1: {'a': 1, 'b': 2}
Dictionary 2: {'b': 3, 'c': 4}
Merged dictionary: {'a': 1, 'b': 5, 'c': 4}

In [10]:
#33.Code to access a value in a nested dictionary using a list of keys
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

# Example
nested_dict = {'a': {'b': {'c': 42}}}
keys_list = ['a', 'b', 'c']
print("Nested dictionary:", nested_dict)
print("Value for keys", keys_list, ":", get_nested_value(nested_dict, keys_list))

Nested dictionary: {'a': {'b': {'c': 42}}}
Value for keys ['a', 'b', 'c'] : 42

In [11]:
#34.Code to sort a dictionary based on values
def sort_dict_by_values(d, reverse=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=reverse))

# Example
dict_to_sort = {'a': 3, 'b': 1, 'c': 2}
print("Original dictionary:", dict_to_sort)
print("Sorted by values (ascending):", sort_dict_by_values(dict_to_sort))
print("Sorted by values (descending):", sort_dict_by_values(dict_to_sort, reverse=True))

Original dictionary: {'a': 3, 'b': 1, 'c': 2}
Sorted by values (ascending): {'b': 1, 'c': 2, 'a': 3}
Sorted by values (descending): {'a': 3, 'c': 2, 'b': 1}

In [12]:
##35.Write a code that inverts a dictionary by swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
def invert_dict(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)  # Append key to the list if value already exists
        else:
            inverted_dict[value] = [key]  # Create a new list with the key if value does not exist
    return inverted_dict

# Example
input_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted = invert_dict(input_dict)
print("Original dictionary:", input_dict)
print("Inverted dictionary:", inverted)

Original dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3}
Inverted dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}